/__pycache__/participant.cpython-37.pyc
/__pycache__/participant.cpython-39.pyc
/__pycache__/pointsAllocator.cpython-37.pyc
/__pycache__/pointsAllocator.cpython-39.pyc
/__pycache__/schedule.cpython-37.pyc
/__pycache__/schedule.cpython-39.pyc
calculationDetails/
